.double-tap-container {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.double-tap-heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #ff6b6b;
  pointer-events: none;
  z-index: 1000;
  filter: drop-shadow(0 0 20px rgba(255, 107, 107, 0.8));
}

